.woocommerce .blockUI.blockOverlay:before,.woocommerce .loader:before {
  height: 3em;
  width: 3em;
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: -.5em;
  margin-top: -.5em;
  display: block;
  content: "";
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  background: url('../images/loading.gif') center center;
  background-size: cover;
  line-height: 1;
  text-align: center;
  font-size: 2em;
}

.wc-block-grid__product div.quantity, .ct-woo-card-actions div.quantity {
    height: 40px;
}
.wc-block-grid.has-5-columns .wc-block-grid__product {
    font-size: unset;
}
